API/appsettings.json
API/reactivities.db
Domain/bin/Debug/net10.0/domain.dll
Application/obj/Debug/net10.0/ref/Application.dll
Application/obj/Debug/net10.0/refint/Application.dll
Application/bin/Debug/net10.0/Persistence.dll
Application/bin/Debug/net10.0/domain.pdb
Application/bin/Debug/net10.0/domain.dll
Application/bin/Debug/net10.0/Application.dll
Application/bin/Debug/net10.0/Application.pdb
Domain/bin/Debug/net10.0/domain.pdb
Domain/obj/domain.csproj.nuget.dgspec.json
Domain/obj/Domain.csproj.nuget.g.props
Domain/obj/Domain.csproj.nuget.g.targets
Domain/obj/project.nuget.cache
Domain/obj/Debug/net10.0/domain.dll
Domain/obj/Debug/net10.0/ref/domain.dll
Domain/obj/Debug/net10.0/domain.pdb
Persistence/obj/Debug/net10.0/ref/Persistence.dll
Persistence/obj/Debug/net10.0/refint/Persistence.dll
Persistence/obj/Debug/net10.0/Persistence.GlobalUsings.g.cs
Persistence/obj/Debug/net10.0/Persistence.GeneratedMSBuildEditorConfig.editorconfig
Persistence/obj/Debug/net10.0/Persistence.dll
Persistence/obj/project.nuget.cache
Persistence/obj/Persistence.csproj.nuget.g.targets
Persistence/obj/Persistence.csproj.nuget.g.props
Persistence/obj/Persistence.csproj.nuget.dgspec.json
Persistence/bin/Debug/net10.0/Persistence.pdb
Persistence/bin/Debug/net10.0/Persistence.dll
Persistence/bin/Debug/net10.0/Persistence.deps.json
Persistence/bin/Debug/net10.0/domain.pdb
Persistence/bin/Debug/net10.0/domain.dll
Persistence/obj/Debug/net10.0/Persistence.AssemblyInfo.cs
Persistence/obj/Debug/net10.0/Persistence.AssemblyInfoInputs.cache
Persistence/obj/Debug/net10.0/Persistence.assets.cache
Persistence/obj/Debug/net10.0/Persistence.csproj.FileListAbsolute.txt
Persistence/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
Persistence/obj/Debug/net10.0/Persiste.61C28332.Up2Date
Domain/obj/Debug/net10.0/refint/domain.dll
Domain/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
Domain/obj/Debug/net10.0/domain.AssemblyInfo.cs
Domain/obj/Debug/net10.0/domain.AssemblyInfoInputs.cache
Domain/obj/Debug/net10.0/domain.assets.cache
Domain/obj/Debug/net10.0/domain.csproj.CoreCompileInputs.cache
Domain/obj/Debug/net10.0/domain.csproj.FileListAbsolute.txt
Domain/obj/Debug/net10.0/domain.GeneratedMSBuildEditorConfig.editorconfig
Domain/obj/Debug/net10.0/domain.GlobalUsings.g.cs
Application/obj/Debug/net10.0/Application.GlobalUsings.g.cs
Application/obj/Debug/net10.0/Application.GeneratedMSBuildEditorConfig.editorconfig
Application/obj/Debug/net10.0/Application.dll
Application/obj/Debug/net10.0/Application.csproj.FileListAbsolute.txt
Application/obj/Debug/net10.0/Application.csproj.CoreCompileInputs.cache
Application/obj/Debug/net10.0/Application.csproj.AssemblyReference.cache
Application/obj/Debug/net10.0/Application.assets.cache
Application/obj/Debug/net10.0/Application.AssemblyInfoInputs.cache
Application/obj/Debug/net10.0/Application.AssemblyInfo.cs
Application/obj/Debug/net10.0/Applicat.44B5EDA2.Up2Date
Application/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
Application/obj/project.nuget.cache
Application/obj/Application.csproj.nuget.dgspec.json
Application/obj/Application.csproj.nuget.g.props
Application/obj/Application.csproj.nuget.g.targets
API/reactivities.db-wal
API/reactivities.db-shm
Persistence/obj/Debug/net10.0/Persistence.pdb
Persistence/obj/Debug/net10.0/Persistence.csproj.CoreCompileInputs.cache
Persistence/obj/Debug/net10.0/Persistence.csproj.AssemblyReference.cache
Persistence/obj/project.assets.json
